@model GroceryList.Models.Store
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "_Layout";
    ViewBag.Title = "Add a store";
}
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <form method="post" action="create">
                <div class="form-group">
                    <label class="form-group">Store Name:</label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="form-group">Address:</label>
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="form-group">City:</label>
                    <input asp-for="City" class="form-control" />
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
                <div class="form-group">
                        <label class="form-group">State:</label>
                        <input asp-for="State" class="form-control" />
                        <span asp-validation-for="State" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="form-group">Phone Number:</label>
                    <input asp-for="PhoneNumber" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-info">Add Store</button>
            </form>
        </div>
    </div>
</div>

